*{margin: 0px;padding: 0px;box-sizing: border-box;}

header{display:flex;justify-content:space-around;position: sticky;top: 0%;background-color: aliceblue;}
ul{display: flex;
list-style: none;}
li{margin: 20px;color: gray;}
.hover{color: rgb(13, 227, 131);}

li:hover{color: rgb(33, 229, 144);}

.partie-1{
text-align: center;
}
.partie-1 img{
    margin: 30px;
}
.partie-1 h1{
    color:#00b39b;
    font-size: 30px;
    word-spacing: 7px;
}
.parag{
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 20px;
    word-spacing: 5px;
    color: gray;
    
    
}
  p{width: 500px;
    margin:60px;
}
.carte-1{
   background-color:  #00b39b; color: white; width: 330px; height: 350px; border-radius: 10px;
   padding: 40px;
}
.cartes h1{
    font-size: 30px;
    margin: 7px;
    
}
.cartes h2{
    font-size: 24px;
    word-spacing: 12px;
}
.carte-2{
    background-color: #3d83df;width: 330px; height: 350px; border-radius: 10px;color: white;margin: 0 20px; padding: 40px;
}
.carte-3{
    background-color: #1b2734;width: 330px; height: 350px; border-radius: 10px;color: white;padding: 40px;
}
.cartes{
    display: flex; text-align: left; justify-content: center;
    margin: 20px; 
}
    .brands_logs{
        display: flex;
        flex-wrap: wrap;
        width: 100px;
        justify-content: center;
    }
    .site-web{
        display: flex;
        justify-content: center;
        margin: 14px;
    }
    .site-web h1 {
        font-size: 30px;
        color: #00b39b;
    }
    .site-web ul {
        width: 1000px;
        display: flex;
        flex-wrap: wrap;
    } 
    
    .titre-css{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #00b39b;
    margin: 40px;
    }
    .sous-titre{
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0 0 40px ;
        color: rgb(140, 136, 136);
    }
.last-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.lien-titre{
    display: flex;justify-content: center;align-items: center;
}
.photos-site{display: flex;flex-wrap: wrap; justify-content:space-evenly;
margin-left: 100px;
margin-right: 100px;

}
.iamge-1{
display: flex;
justify-content: space-between;
padding: 10px;


}
.iamge-1 button{
   background-color: #3d83df; 
   padding: 10px 0;
   color: white;
   border: 1px solid #3d83df;
   border-radius: 5px; 
   padding: 10px;

}
.iamge-1 button:hover{
    background-color: #0058ca;
}
.photo-1{
    margin: 10px;
}
.iamge-1:hover{
    box-shadow: 5px 10px 18px #88888830;

}
footer h4{
    text-align: center;
    padding: 15px;

}
.lien-titre button{
    background-color: #3d83df; 
    padding: 10px 20px ;
    color: white;
    border: 1px solid #3d83df;
    border-radius: 5px;
    margin-top: 20px;
    word-spacing: 5px;
    font-size: 15px;


}
.lien-titre button:hover{
    background-color: #0058ca;
    
}
.lien-titre a{
    text-decoration: none;
    color: white;
}
footer{
    margin-top: 60px;
    color: rgb(139, 133, 133);
} 

.carré-1{
    background-color: rgba(255, 255, 255, 0.796);
    width: 230px;
    height: 270px;
    margin: 80px 0px 10px 30px;
    text-align: center;
    padding: 30px 10px;
}
.carré-1 h2{
    margin: 10px;
}
.carré-2 h2{
    margin: 10px;
}
.carré-3 h2{
    margin: 10px;
}
.carré-4 h2{
    margin: 10px;
}
.carré-1 h3{
    font-size: 15px;
    color: gray;
}
.carré-2 h3{
    font-size: 15px;
    color: gray;
}
.carré-3 h3{
    font-size: 15px;
    color: gray;
}
.carré-4 h3{
    font-size: 15px;
    color: gray;
}
.carré-2{
    background-color: rgba(255, 255, 255, 0.796);
    width: 230px;
    height: 270px;
    margin: 30px 0 0 29px;
    text-align: center;
    padding: 30px 10px;
}
.mini-2{
margin: 0 50px;}
.carré-3{
    background-color: rgba(255, 255, 255, 0.796);
    width: 230px;
    height: 270px;
    margin: 15px 80px 0 0 ;
    text-align: center;
    padding: 30px 10px;
}
.carré-4{
    background-color: rgba(255, 255, 255, 0.796);
    width: 230px;
    height: 270px;
    margin: 50px 0 0 0;
    text-align: center;
    padding: 30px 10px;
}



.animat-r h1{
    color: #00b39b;
    margin: 10px 0 0 300px;
    font-size: 40px;
}
.animat-r h3{
    color: rgb(148, 145, 145);
    margin: 10px 0 0 300px;
    font-size: 18px;
    margin-top: 10px;
}
.animat-r img {
    margin: 90px 0 0 150px;
}
.animation {
    display: flex;
height: 100vh;
background-image: url('https://thumbs.gfycat.com/BelovedBabyishAustraliancattledog-size_restricted.gif');    
background-size: cover;
justify-content: space-between;
animation-name: back;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}
@keyframes back
